* {
  box-sizing: border-box;
  /*outline: solid red 1px;*/
}
html, body, p {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgba(0,0,0,.7);
  font-family: 'Antipasto';
}

.modal-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 22;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-modal {
  height: auto;
  width: auto;
  padding: 30px;
  background-color: grey;
}
.modal-button {
  display: block;
  margin: 30px auto 0 auto;
}
.container-fluid {
  height: 500px;
  width: 100%;
  background-color: white;
  margin: 0 auto;

}
th{
  font-weight: normal;
}
.hover{
  color: grey;
}
.hover:hover {
  color: white;
  cursor: pointer;
}
.partials-container {
  height: 500px;
}
.logo>h1 {
  padding: 0px;
  margin: 0px;
  font-family: 'Optima';
  font-size: 80px;
  color: lightblue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}



.avatar-box {
  height: 200px;
  width: 200px;
  background-color: teal;
}

.user-data>p{
  font-size: 18px;
}

.game-sorting{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;;
  flex-direction: column;
}


.begin-button {
  margin: 5%;
}

.answer-box {
  padding: 2%;
  /*align-self: flex-start;;*/
}

.answer-box>button {
  background-color: white;
}

.login-page, .quiz-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 div .quiz-page>button{
  margin: 10px !important;
}
.quiz-page h1{
  font-size: 40px;
}



/*==============================================================*/
@font-face {
  font-family: 'Antipasto',
  src: url('./public/fonts/Antipasto.otf') format("opentype");
}

@@font-face {
  font-family: 'Optima',
  src: url(./public/fonts/Optima.ttc) format('truetype');
}
