<div class="begin-page partials-container">
  <div class="modal-container" ng-if="dashboard.editUser">
    <div class="user-modal">
      <form>
        <label>Display Name</label>
        <input type="text" ng-model="dashboard.userProfile.name">
        <label>email</label>
        <input type="text" placeholder="{{dashboard.userProfile.email}}" disabled>
        <label>Age</label>
        <input type="text" ng-model="dashboard.userProfile.age">
        <label>Gender</label>
        <input type="text" ng-model="dashboard.userProfile.gender">
        <label>Location</label>
        <input type="text" ng-model="dashboard.userProfile.location">
        <br>
        <button type="submit" class="modal-button" ng-click="dashboard.getUserFromModal(dashboard.userProfile)">Submit</button>
      </form>
    </div>
  </div>
  <div class="container">
  <div class="row">

    <div class="logo ten columns">
      <h1>Quizter</h1>
    </div>
    <div class="hamburger one column">
    <a href="#"><h1>=</h1></a>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <div class="row">
        <div class="avatar-box six columns">
          <img src="" alt="" />
        </div>

        <div class="user-data six columns">
          <p class="hover" ng-click="dashboard.editUserBtn()">
            edit
          </p>
          <p class="hover"ng-click="dashboard.logout()">
            sign out
          </p>
          <p>
            Name:

            {{dashboard.userProfile.name}}
          </p>
          <p>
            Email:

            {{dashboard.userProfile.email}}
          </p>
          <p>
            Age:
            {{dashboard.userProfile.age}}
          </p>
          <p>
            Gender:
            {{dashboard.userProfile.gender}}
          </p>
          <p>
            Location:
            {{dashboard.userProfile.location}}
          </p>
          <p>
            High Score:
            {{dashboard.userProfile.highScore}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <div class="game-sorting">
            <label>Pick the</label>
            <select ng-model='selectedDecade'>
              <option value="">Best of</option>
              <option value="{{decade.id}}" ng-repeat="decade in dashboard.decadeList">{{decade.name}}</option>
            </select>
            <label>Pick the</label>
            <select ng-model='selectedCategory'>
              <option value="">Category</option>
              <option value="{{category.id}}" ng-repeat="category in dashboard.categoryList">{{category.name}}</option>
            </select>
            <label>Pick the</label>

            <select ng-model='selectedTropes'>
              <option value="">Tropes</option>
              <option value="{{trope.id}}" ng-repeat="trope in dashboard.tropeList">{{trope.name}}</option>
            </select>
            <label>Pick the</label>

            <select ng-model='selectedGenre'>
              <option value="">Genre</option>
              <option value="{{genre.id}}" ng-repeat="genre in dashboard.genreList">{{genre.name}}</option>
            </select>
            <button class="begin-button" ng-click="dashboard.initGame([selectedDecade, selectedCategory, selectedTropes, selectedGenre])">
              Begin
            </button>
          </div>
        </div>
      </div>



    </div>
    <div class="six columns">
      <li ng-repeat=" movies in dashboard.movieList"
      >{{movies.title}}</li>


      <div class="row">
      <div class="high-scores twelve columns">
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Sex</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dave Gamache</td>
              <td>26</td>
              <td>Male</td>
              <td>San Francisco</td>
            </tr>
            <tr>
              <td>Dwayne Johnson</td>
              <td>42</td>
              <td>Male</td>
              <td>Hayward</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
</div>
</div>
</div>
