<div class="partials-container">
  <div class="quiz-page container">

    <img ng-src="{{vm.movieitem.poster}}"/>

    <h1>{{vm.movieitem.question}}</h1>




          <button ng-click="vm.gameManager()">A.{{vm.movieitem.choiceOne}}</button>

          <button ng-click="vm.gameManager()">B.{{vm.movieitem.choiceTwo}}</button>


          <button ng-click="vm.gameManager()">C.{{vm.movieitem.answer}}</button>

          <button ng-click="vm.gameManager()">D.{{vm.movieitem.choiceThree}}</button>



  </div>
</div>
